*.springBeans
*.project
*.classpath
*.class
*.log
**/.gradle/
**/target/
**/.settings/
**/bin
**/build
**/temp/
**/.vscode
*.DS_Store
**/node_modules
**/security.properties

!build.gradle
