<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hee.daily_photolog.dao.PhotoLogDAO">

  <resultMap type="photoLogVO" id="photoLogMap">
    <id column="PLNO" property="no"/>
    <result column="MNO" property="memberNo"/>
    <result column="DATE" property="date"/>
    <result column="TITLE" property="title"/>
    <result column="MEMO" property="memo"/>
  </resultMap>
  
  <insert id="insertPhotoLog" 
          parameterType="map"
          useGeneratedKeys="true" keyColumn="PLNO" keyProperty="no">
    insert into tbl_photolog(MNO,DATE,TITLE,MEMO)
    values(#{memberNo},#{date},#{title},#{memo})
  </insert>
  
    <select id="findByMemberNo" 
          parameterType="int"
          resultMap="photoLogMap">
    select PLNO, MNO, DATE from tbl_photolog
        where MNO=#{value}
        order by DATE asc
  </select>
  


</mapper>
