<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hee.daily_photolog.dao.MemberDAO">

  <resultMap type="memberVO" id="memberMap">
    <id column="MNO" property="no"/>
    <result column="NAME" property="name"/>
    <result column="EMAIL" property="email"/>
    <result column="PWD" property="password"/>
  </resultMap>

  <insert id="insertMemInfo" 
          parameterType="map">
    insert into tbl_memb(EMAIL,NAME,PWD) 
    values(#{email},#{name},password(#{password}))
  </insert>

  <select id="findByEmailAndPassword" 
          parameterType="map"
          resultMap="memberMap">
    select MNO,EMAIL,NAME 
    from tbl_memb
    where EMAIL=#{email} and PWD=password(#{password})
  </select>
</mapper>
